.title{
  font-family: 'Poppins', sans-serif;
}
.btn{
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  color: rgb(240, 88, 88);
}
.navbar{
  font-family: 'Poppins', sans-serif;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.card{
  font-family: 'Open Sans', sans-serif;
}
.card-title{
  font-family: 'Open Sans', sans-serif;
}
footer {
  font-family: 'Poppins', sans-serif;
  
}
footer h1 h2 h3 h4 h5 h6{
  font-family: 'Poppins', sans-serif;
  color: black;
}
footer a{
  color: rgb(104, 86, 86);
}
footer a:hover{
  color: rgb(3, 51, 94);
}
.services{
  background-color: #f1f3f7;
}
.study-index{
  background-color: #ebe1e9;
}
.faith li{
  margin-bottom: 13px;
}
.navbar-nav .nav-item:hover .nav-link {
  color: rgb(223, 18, 52);
}
